.projects {
  &__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d2130;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #1d2130;
  }
}
